.checkout-container {
    margin-top: 80px !important;
}

.form-container {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}