/* Navbar container
alltså vänster meny med kategorier */
.navbar-container {
  display: flex;
  height: 100%;
  background-color: #f0f0f0;
  justify-content: center;
  padding: 10px;
}

.button-home {
  display: flex;
  justify-content: center;
  font-style: italic;
  align-items: center;
  background-color: #2b613b;
  border: none;
}

.button-home:hover {
  background-color: #378e52;
}