.shopping-cart-modal {
    position: fixed;
    top: 84px; 
    right: 20px; 
    width: 360px; 
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
}

.cart-list {
    padding: .4rem;
    list-style-type: none;
    max-height: 320px;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
  }

.cart-item-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2px;
  padding-right: 2px;
  flex-grow: 1;
  }

  .quantity-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 0.5rem;
  }

  .button-delete {
    font-size: 11px;
  }

  .checkout {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }