@import url("Styles/shoppingcart.css");
@import url("Styles/header.css");
@import url("Styles/productcards.css");
@import url("Styles/herosection.css");
@import url("Styles/footer.css");
@import url("Styles/checkout.css");

#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
}


/* Text styles */
.font-bold {
  font-weight: bold;
}

/* main/Homepage container */
.main-container {
  display: grid;
  grid-template-columns: 23vw auto !important;
  /* position: absolute; */
  /* margin-top:  80px; behövs ej med hero section på homepage */
  padding-bottom: 50px;
  width: 100%;
  background-color: #f0f0f0;
}